global:
  additionalLabels:
    app.kubernetes.io/env: {{ .Environment.Name }}
  logging:
    level: warn

applicationSet:
  enabled: false

notifications:
  enabled: false

secrets:
  secret:
    createSecret: false

server:
  containerPort: 8080
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
