global:
  additionalLabels:
    app.kubernetes.io/env: {{ .Environment.Name }}
  logging:
    level: warn

applicationSet:
  enabled: false

notifications:
  enabled: false

server:
  containerPort: 8080
  ingress:
    enabled: true
    ingressClassName: nginx
