global:
  additionalLabels:
    app.kubernetes.io/env: {{ .Environment.Name }}
  logging:
    level: warn

applicationSet:
  enabled: false

notifications:
  enabled: false

secrets:
  secret:
    createSecret: false

server:
  service:
    type: NodePort
    nodePortHttp: 30080
    nodePortHttps: 30443
    servicePortHttp: 80
    servicePortHttps: 443
    servicePortHttpName: http
    servicePortHttpsName: https
    namedTargetPort: true
